<div style= "position: sticky; float: left; padding: 30px; overflow:auto">
	<p>Welcome to Tess' Guess!</p>
	<p>In this game you must figure out the word from the prompt before you partner does.</p>
	<p>You will be given the definition of a word from <b>Urban Dictionary</b> along with a <b>word scramble</b>.</p>
	<p>First player to figure out the word can choose to <b>make another player drink</b>.</p>
	<p>The first player to <b>5</b> correct words wins!</p>
	<p>Remember to add terms in the <span style="color:green;">edit</span> tab.</p>
	<p><i>Developed by Tess' friends Kyle (code) and Sophie (art)</i></p>


</div>